body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1a1a1a 0%, #2d2d2d 100%); /* Dark background color */
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff; /* White text color */
}

.container {
    background-color: rgba(8, 4, 7, 0.9); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

.h1, .h2 {
    margin: 10px 0;
    color: #00000000;
}

form {
    margin-bottom: 20px;
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #e4d0d0;
}

input,
textarea,
select {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #f0e3e3;
    color: rgb(248, 247, 247);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #dd1111;
}
body {
    font-family: Arial, sans-serif;
    background: url('bg.jpg') no-repeat center center fixed; /* Add your image URL here */
    background-size: cover;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff; /* White text color */
}
